body {
	margin: 0;
	font-family: Helevetica;
	font-weight: lighter;
}

h1 {
	font-weight: lighter;
}

#logo{
	height: 80px;
	width: 80px;
}

body p {
	font-family: Arial;
	font-size: 50px;
}